<!-- ======== Region: #header ======== -->
<div id="header">
    <!--Branding & Navigation Region-->

    <div data-toggle="sticky">

        <!--Header search region - hidden by default -->
        <div class="header-search collapse" id="search">
            <form class="search-form container">
                <input type="text" name="search" class="form-control search" ng-model="vm.searchText" value="" placeholder="Search" ng-keypress="($event.which === 13)?vm.getCars(vm.searchText, 1, 10, 'search'):0">
                <button type="button" class="btn btn-link" ng-click="vm.getCars(vm.searchText, 1, 10, 'search')"><span class="sr-only">Search </span><i class="fa fa-search fa-flip-horizontal search-icon"></i></button>
                <button type="button" class="btn btn-link close-btn" data-toggle="search-form-close"><span class="sr-only">Close </span><i class="fa fa-times search-icon"></i></button>
            </form>
        </div>

        <!--Header & Branding region-->
        <div class="header">
            <!-- all direct children of the .header-inner element will be vertically aligned with each other you can override all the behaviours using the flexbox utilities (flexbox.htm) All elements with .header-brand & .header-block-flex wrappers will automatically be aligned inline & vertically using flexbox, this can be overridden using the flexbox utilities (flexbox.htm) Use .header-block to stack elements within on small screen & "float" on larger screens use .flex-first or/and .flex-last classes to make an element show first or last within .header-inner or .headr-block elements -->
            <div class="header-inner container">
                <!--branding/logo -->
                <div class="header-brand flex-first">
                    <a class="header-brand-text" href="@Url.Action("Index", "Home")" title="Home">
                        <h1>
                            <span>AST</span>Rentals<span>.</span>
                        </h1>
                    </a>
                    <div class="header-divider hidden-md-down"></div>
                    <div class="header-slogan hidden-md-down">Classic & Modern Car Rentals</div>
                </div>
                <!-- other header content -->
                <div class="header-block flex-last">
                    <div class="d-flex flex-column text-right hidden-md-down mr-2">
                        <h6 class="my-0 mb-1">
                            <i class="fa fa-truck text-primary"></i> Free Worldwide Enquiries
                        </h6>
                        <h6 class="my-0 text-muted font-weight-normal">
                            <i class="fa fa-phone text-primary"></i> (+44) 7283643345
                        </h6>
                    </div>

                    <!--Search trigger -->
                    <a href="#search" class="btn btn-icon btn-link header-btn float-right flex-last" data-toggle="search-form" data-target=".header-search"><i class="fa fa-search fa-flip-horizontal search-icon"></i></a>

                    <!-- mobile collapse menu button - data-toggle="collapse" = default BS menu - data-toggle="jpanel-menu" = jPanel Menu - data-toggle="overlay" = Overlay Menu -->
                    <a href="#top" class="btn btn-link btn-icon header-btn float-right hidden-lg-up" data-toggle="jpanel-menu" data-target=".navbar-main" data-direction="right"> <i class="fa fa-bars"></i> </a>
                    <div class="header-divider hidden-md-down"></div>

                    <!--Shopping cart-->
                    <div class="dropdown dropdowns-no-carets dropdown-effect-fadeup float-right" ng-controller="favouriteDetailsController as vm" ng-init="vm.getFavourites('@ViewBag.Email')">
                        <a href="#" class="btn btn-icon btn-inverse btn-link float-right dropdown-toggle cart-link" data-toggle="dropdown">
                            <span class="cart-link-icon"> <i class="fa fa-car"></i> <span class="sr-only">Cart</span> <span class="cart-link-count bg-primary text-white">{{vm.favouritesCount}}</span> </span>
                        </a>

                        <!--Shopping cart dropdown -->
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow cart-dropdown-menu" role="menu">
                                <h5 class="dropdown-header mb-0">
                                    Your Favourites
                                </h5>
                                <hr class="mt-0 mb-3" />
                                <!--Shopping cart items-->
                                <div class="cart-items" ng-repeat="item in vm.favourites">
                                    <!--Shopping cart item 1 -->
                                    <div class="cart-items-item">
                                        <a href="#" class="cart-img mr-2 float-left">
                                            <img class="img-fluid" ng-src="{{item.imageUrl}}" alt="{{item.make}} {{item.model}} {{item.year}}">
                                        </a>
                                        <div class="float-left">
                                            <h5 class="mb-0">
                                                <a href="@Url.Action("Details", "Cars")?Id={{item.id}}"> {{item.make}} {{item.model}} {{item.year}}</a>
                                            </h5>
                                            <p class="mb-0">Available now.</p>
                                            <a href="#" data-id="{{item.id}}" data-email="@ViewBag.Email" ng-click="vm.removeFavourite($event)" class="close cart-remove text-primary"> <i class="fa fa-times"></i> </a>
                                        </div>
                                    </div>
                                </div>
                                <!--End of Shopping cart items-->
                                <hr class="mt-3 mb-0" />
                                <div class="dropdown-footer text-center">
                                    <h5 class="font-weight-bold">
                                        Favourites: <span class="text-primary">{{vm.favouritesCount}} cars available.</span>
                                    </h5>
                                    <a href="shop-cart.htm" tabindex="-1" class="btn btn-outline-primary btn-sm btn-rounded mx-2">View Cart</a> <a href="shop-checkout.htm" tabindex="-1" class="btn btn-primary btn-sm btn-rounded mx-2">Checkout</a>
                                </div>
                            </div>
                        </div>
                    <!-- end of shopping cart -->
                </div>
            </div>
        </div>

        <div class="navbar navbar-toggleable-md">
            <!--everything within this div is collapsed on mobile-->
            <div class="navbar-main collapse bg-grey-dark navbar-inverse">
                <div class="container clearfix">
                    <!--main navigation-->
                    <ul class="nav navbar-nav float-lg-left navbar-nav-flush dropdown-effect-fadeup">
                        <!-- Shop Homepage -->
                        <li class="nav-item"> <a href="@Url.Action("Index", "Home")" class="nav-link">Shop Home</a> </li>

                        <!-- Shop Pages -->
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="pages-drop" data-toggle="dropdown" data-hover="dropdown">Shop Pages</a>
                            <!-- Menu -->
                            <div class="dropdown-menu"> <a href="shop-grid.htm" class="dropdown-item">Products Grid</a> <a href="@Url.Action("Index")" class="dropdown-item active">Car Rentals List</a> <a href="@Url.Action("Details")" class="dropdown-item">Product View</a> <a href="shop-cart.htm" class="dropdown-item">Cart</a> <a href="shop-checkout.htm" class="dropdown-item">Checkout</a> <a href="shop-confirmation.htm" class="dropdown-item">Confirmation</a> </div>
                        </li>
                        <li class="nav-item dropdown dropdown-mega-menu dropdown-persist active">
                            <a href="shop.htm" class="nav-link dropdown-toggle" id="shop-mega-menu" data-toggle="dropdown" data-hover="dropdown">Shop Mega Menu</a>
                            <!-- Dropdown Menu -->
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-nobullets" aria-labelledby="shop-mega-menu">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-lg-3 dropdown-icons-default">
                                                <h3 class="dropdown-header mb-0">
                                                    Mens
                                                </h3>
                                                <a href=".htm" class="dropdown-item" tabindex="-1">Shoes</a> <a href=".htm" class="dropdown-item" tabindex="-1">Shirts</a> <a href=".htm" class="dropdown-item" tabindex="-1">Trousers</a> <a href=".htm" class="dropdown-item" tabindex="-1">Suits</a> <a href=".htm" class="dropdown-item" tabindex="-1">Jackets</a> <a href=".htm" class="dropdown-item" tabindex="-1">Sportswear</a> <a href=".htm" class="dropdown-item" tabindex="-1">Shorts</a> <a href=".htm" class="dropdown-item" tabindex="-1">Swimwear</a> <a href=".htm" class="dropdown-item" tabindex="-1">T-shirts</a>
                                            </div>
                                            <div class="col-lg-3 dropdown-icons-default">
                                                <h3 class="dropdown-header mb-0">
                                                    Womens
                                                </h3>
                                                <a href=".htm" class="dropdown-item" tabindex="-1">Dresses</a> <a href=".htm" class="dropdown-item" tabindex="-1">Jeans</a> <a href=".htm" class="dropdown-item" tabindex="-1">Skirts</a> <a href=".htm" class="dropdown-item" tabindex="-1">Suits</a> <a href=".htm" class="dropdown-item" tabindex="-1">Jackets</a> <a href=".htm" class="dropdown-item" tabindex="-1">Sportswear</a> <a href=".htm" class="dropdown-item" tabindex="-1">Shorts</a> <a href=".htm" class="dropdown-item" tabindex="-1">Swimwear</a> <a href=".htm" class="dropdown-item" tabindex="-1">T-shirts</a>
                                            </div>
                                            <div class="col-lg-3">
                                                <h3 class="dropdown-header mb-0">
                                                    Childrens
                                                </h3>
                                                <a href=".htm" class="dropdown-item" tabindex="-1">Shoes</a> <a href=".htm" class="dropdown-item" tabindex="-1">Sports Wear</a> <a href=".htm" class="dropdown-item" tabindex="-1">School Clothes</a> <a href=".htm" class="dropdown-item" tabindex="-1">Trousers</a> <a href=".htm" class="dropdown-item" tabindex="-1">Suits</a> <a href=".htm" class="dropdown-item" tabindex="-1">Jackets</a> <a href=".htm" class="dropdown-item" tabindex="-1">Sportswear</a> <a href=".htm" class="dropdown-item" tabindex="-1">Swimwear</a> <a href=".htm" class="dropdown-item" tabindex="-1">T-shirts</a>
                                            </div>
                                            <div class="col-lg-3 dropdown-icons-default">
                                                <h3 class="dropdown-header mb-0">
                                                    Baby
                                                </h3>
                                                <a href=".htm" class="dropdown-item" tabindex="-1">Newborn</a> <a href=".htm" class="dropdown-item" tabindex="-1">Toddler</a> <a href=".htm" class="dropdown-item" tabindex="-1">Preschool</a> <a href=".htm" class="dropdown-item" tabindex="-1">Winter Suits</a> <a href=".htm" class="dropdown-item" tabindex="-1">Jackets</a> <a href=".htm" class="dropdown-item" tabindex="-1">Sportswear</a> <a href=".htm" class="dropdown-item" tabindex="-1">Swimwear</a> <a href=".htm" class="dropdown-item" tabindex="-1">T-shirts</a> <a href=".htm" class="dropdown-item" tabindex="-1">Trousers</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 hidden-md-down">
                                        <h3 class="dropdown-header">
                                            New Arrivals <span class="badge badge-primary text-uppercase">Hot</span>
                                        </h3>
                                        <div class="dropdown-widget">
                                            <!-- Shop product carousel Uses Owl Carousel plugin All options here are customisable from the data-owl-carousel-settings="{OBJECT}" item via data- attributes: http://www.owlgraphic.com/owlcarousel/#customizing ie. data-settings="{"items": "4", "lazyLoad":"true", "navigation":"true"}" -->
                                            <div class="products-carousel owl-nav-over" data-toggle="owl-carousel" data-owl-carousel-settings='{"items": 1,"responsive":{"0":{"items":1,"nav":true, "dots":false}}}'>
                                                <a href="#">
                                                    <img src="../../../assets/img/shop/jacket-1.jpg" alt="Item 1 image" class="lazyOwl img-fluid" />
                                                </a>
                                                <a href="#">
                                                    <img src="../../../assets/img/shop/jacket-2.jpg" alt="Item 2 image" class="lazyOwl img-fluid" />
                                                </a>
                                                <a href="#">
                                                    <img src="../../../assets/img/shop/jacket-3.jpg" alt="Item 3 image" class="lazyOwl img-fluid" />
                                                </a>
                                            </div>
                                        </div>
                                        <h3 class="dropdown-header">
                                            Jan 2017 Offers
                                        </h3>
                                        <div class="p-3 overlay overlay-op-5 rounded flex-valign" data-bg-img="../../assets/img/shop/promo-truck.jpg" data-css='{"background-position":"center bottom"}' data-url="@Url.Action("Details")">
                                            <h4 class="text-white mb-0">
                                                Free Shipping
                                            </h4>
                                            <p class="text-white mb-0">On all orders over $100</p>
                                            <hr class="hr-lg my-2 w-20 mx-auto hr-primary" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.dropdown-menu -->
                        </li>
                    </ul>
                    <!-- All Categories menu -->
                    <ul class="nav navbar-nav float-lg-right navbar-nav-flush-right dropdown-effect-fadeup">
                        <li class="nav-item dropdown dropdowns-no-carets dropdown-persist">
                            @if (@ViewBag.Email != "null")
                            {
                                <a href="#" class="nav-link dropdown-toggle" id="account-drop" data-toggle="dropdown" data-hover="dropdown"><i class="fa fa-user mr-2"></i>My Account</a>
                            }
                            <!-- Dropdown Menu -->
                            <div class="dropdown-menu dropdown-menu-right"> <a href="@Url.Action("Favourites", "MyAccount")" class="dropdown-item">My Favourites</a> <a href="@Url.Action("Orders", "MyAccount")" class="dropdown-item">Order History</a> <a href="#" class="dropdown-item">Track Orders</a>
                            </div>
                        </li>
                        
                        @if (@ViewBag.Email == "null")
                        {
                            <li class="nav-item dropdown dropdowns-no-carets dropdown-persist"> <a href="@Url.Action("LogIn", "Home")" class="btn btn-primary btn-sm btn-rounded text-uppercase font-weight-bold px-3 ml-3">Log In</a> </li>
                            <li class="nav-item dropdown dropdowns-no-carets dropdown-persist"> <a href="@Url.Action("Register", "Home")" class="btn btn-primary btn-sm btn-rounded text-uppercase font-weight-bold px-3 ml-3">Register</a> </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown dropdowns-no-carets dropdown-persist"> <a href="@Url.Action("Logout", "Cars")" class="btn btn-primary btn-sm btn-rounded text-uppercase font-weight-bold px-3 ml-3">Log Out</a> </li>
                        }
                    </ul>
                </div>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </div>
</div>