<!-- Related Products -->
<div class="container py-4">
    <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
    <h2 class="text-center text-uppercase font-weight-bold my-0">
        Recommended Rentals
    </h2>
    <hr class="mb-3 w-50 mx-auto" />
    <div class="mt-4 owl-nav-over owl-nav-over-lg" data-toggle="owl-carousel" data-owl-carousel-settings='{"responsive":{"0":{"items":1}, "600":{"items":2}, "980":{"items":4}}, "margin":10, "nav":true, "dots":false}'>
        <!-- Recommended Car 1 -->
        <div class="card product-card overlay-hover">
            <!-- Hover content -->
            <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
                <h4 class="text-white">{{vm.recommendedCars[0].make}} {{vm.recommendedCars[0].model}} {{vm.recommendedCars[0].year}}</h4>
                <a href="@Url.Action("Details", "Cars")?Id={{vm.recommendedCars[0].id}}&Email=@ViewBag.Email" class="btn btn-primary text-uppercase font-weight-bold mb-2"><i class="fa fa-car mr-2"></i> View Car</a>
            </div>
            <!-- Image & price content -->
            <div class="pos-relative">
                <img class="card-img-top" ng-src="{{vm.recommendedCars[0].imageUrl}}" height="200" width="240" alt="{{vm.recommendedCars[0].make}} {{vm.recommendedCars[0].model}} {{vm.recommendedCars[0].year}}">
                <span class="badge badge-primary product-price-badge pos-absolute pos-t pos-l mt-2 ml-2">
                    <del class="op-5">£250.00</del>
                    / £199.99 p/w
                </span>
            </div>
        </div>
        <!-- Recommended Car 2 -->
        <div class="card product-card overlay-hover">
            <!-- Hover content -->
            <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
                <h4 class="text-white">{{vm.recommendedCars[1].make}} {{vm.recommendedCars[1].model}} {{vm.recommendedCars[1].year}}</h4>
                <a href="@Url.Action("Details", "Cars")?Id={{vm.recommendedCars[1].id}}&Email=@ViewBag.Email" class="btn btn-primary text-uppercase font-weight-bold mb-2"><i class="fa fa-car mr-2"></i> View Car</a>
            </div>
            <!-- Ribbon -->
            <div class="card-ribbon card-ribbon-top card-ribbon-right bg-primary text-white">Top Rated</div>
            <!-- Image & price content -->
            <div class="pos-relative">
                <img class="card-img-top" ng-src="{{vm.recommendedCars[1].imageUrl}}" height="200" width="240" alt="{{vm.recommendedCars[1].make}} {{vm.recommendedCars[1].model}} {{vm.recommendedCars[1].year}}">
                <span class="badge badge-primary product-price-badge pos-absolute pos-t pos-l mt-2 ml-2">£199.99 p/w</span>
            </div>
        </div>
        <!-- Recommended Car 3 -->
        <div class="card product-card overlay-hover">
            <!-- Hover content -->
            <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
                <h4 class="text-white">{{vm.recommendedCars[2].make}} {{vm.recommendedCars[2].model}} {{vm.recommendedCars[2].year}}</h4>
                <a href="@Url.Action("Details", "Cars")?Id={{vm.recommendedCars[2].id}}&Email=@ViewBag.Email" class="btn btn-primary text-uppercase font-weight-bold mb-2"><i class="fa fa-car mr-2"></i> View Car</a>
            </div>
            <!-- Image & price content -->
            <div class="pos-relative">
                <img class="card-img-top" ng-src="{{vm.recommendedCars[2].imageUrl}}" height="200" width="240" alt="{{vm.recommendedCars[2].make}} {{vm.recommendedCars[2].model}} {{vm.recommendedCars[2].year}}">
                <span class="badge badge-primary product-price-badge pos-absolute pos-t pos-l mt-2 ml-2">£199.99 p/w</span>
            </div>
        </div>
        <!-- Recommended Car 4 -->
        <div class="card product-card overlay-hover">
            <!-- Hover content -->
            <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
                <h4 class="text-white">{{vm.recommendedCars[3].make}} {{vm.recommendedCars[3].model}} {{vm.recommendedCars[3].year}}</h4>
                <a href="@Url.Action("Details", "Cars")?Id={{vm.recommendedCars[3].id}}&Email=@ViewBag.Email" class="btn btn-primary text-uppercase font-weight-bold mb-2"><i class="fa fa-car mr-2"></i> View Car</a>
            </div>
            <!-- Ribbon -->
            <div class="card-ribbon card-ribbon-top card-ribbon-right bg-primary text-white">Limited</div>
            <!-- Image & price content -->
            <div class="pos-relative">
                <img class="card-img-top" ng-src="{{vm.recommendedCars[3].imageUrl}}" height="200" width="240" alt="{{vm.recommendedCars[3].make}} {{vm.recommendedCars[3].model}} {{vm.recommendedCars[3].year}}">
                <span class="badge badge-primary product-price-badge pos-absolute pos-t pos-l mt-2 ml-2">£199.99 p/w</span>
            </div>
        </div>
        <!-- Recommended Car 5 -->
        <div class="card product-card overlay-hover">
            <!-- Hover content -->
            <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
                <h4 class="text-white">{{vm.recommendedCars[4].make}} {{vm.recommendedCars[4].model}} {{vm.recommendedCars[4].year}}</h4>
                <a href="@Url.Action("Details", "Cars")?Id={{vm.recommendedCars[4].id}}&Email=@ViewBag.Email" class="btn btn-primary text-uppercase font-weight-bold mb-2"><i class="fa fa-car mr-2"></i> View Car</a>
            </div>
            <!-- Image & price content -->
            <div class="pos-relative">
                <img class="card-img-top" ng-src="{{vm.recommendedCars[4].imageUrl}}" height="200" width="240" alt="{{vm.recommendedCars[4].make}} {{vm.recommendedCars[4].model}} {{vm.recommendedCars[4].year}}">
                <span class="badge badge-primary product-price-badge pos-absolute pos-t pos-l mt-2 ml-2">£199.99 p/w</span>
            </div>
        </div>
        <!-- Recommended Car 6 -->
        <div class="card product-card overlay-hover">
            <!-- Hover content -->
            <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
                <h4 class="text-white">{{vm.recommendedCars[5].make}} {{vm.recommendedCars[5].model}} {{vm.recommendedCars[5].year}}</h4>
                <a href="@Url.Action("Details", "Cars")?Id={{vm.recommendedCars[5].id}}&Email=@ViewBag.Email" class="btn btn-primary text-uppercase font-weight-bold mb-2"><i class="fa fa-car mr-2"></i> View Car</a>
            </div>
            <!-- Image & price content -->
            <div class="pos-relative">
                <img class="card-img-top" ng-src="{{vm.recommendedCars[5].imageUrl}}" height="200" width="240" alt="{{vm.recommendedCars[5].make}} {{vm.recommendedCars[5].model}} {{vm.recommendedCars[5].year}}">
                <span class="badge badge-primary product-price-badge pos-absolute pos-t pos-l mt-2 ml-2">£199.99 p/w</span>
            </div>
        </div>
    </div>
</div>
