<!-- Related Products -->
<div class="container py-4">
    <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
    <h2 class="text-center text-uppercase font-weight-bold my-0">
        Recommended Rentals
    </h2>
    <hr class="mb-3 w-50 mx-auto" />
    <div class="mt-4 owl-nav-over owl-nav-over-lg" data-toggle="owl-carousel" data-owl-carousel-settings='{"responsive":{"0":{"items":1}, "600":{"items":2}, "980":{"items":4}}, "margin":10, "nav":true, "dots":false}'>
        <!-- Product 1 -->
        <div class="card product-card overlay-hover">
            <!-- Hover content -->
            <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
                <h4 class="text-white">
                    Audi A6 (2005)
                </h4>
                <a href="@Url.Action("Details", new { id = 4595 } )" class="btn btn-primary text-uppercase font-weight-bold mb-2"><i class="fa fa-car mr-2"></i> View Car</a>
            </div>
            <!-- Image & price content -->
            <div class="pos-relative">
                <img class="card-img-top img-fluid" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRgymHdJix0iRGbMqZlGnf4-JWqMXI9cSYCM38DZefG8Qcu-xQp" height="115" width="236" alt="Car image">
                <span class="badge badge-primary product-price-badge pos-absolute pos-t pos-l mt-2 ml-2">
                    <del class="op-5">£179.99</del>
                    / £199.99
                </span>
            </div>
        </div>
        <!-- Product 2 -->
        <div class="card product-card overlay-hover">
            <!-- Hover content -->
            <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
                <h4 class="text-white">
                    Dodge Viper (2008)
                </h4>
                <a href="@Url.Action("Details", new { id = 5772 } )" class="btn btn-primary text-uppercase font-weight-bold mb-3"><i class="fa fa-car mr-2"></i> View Car</a>
            </div>
            <!-- Ribbon -->
            <div class="card-ribbon card-ribbon-top card-ribbon-right bg-primary text-white">Top Rated</div>
            <!-- Image & price content -->
            <div class="pos-relative">
                <img class="card-img-top img-fluid" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSWw747vpDVyAbbD8AGfCknviVLTpjV3FeyI4_jzUOw2JikKGbHgQ" height="115" width="236" alt="Car image">
                <span class="badge badge-primary product-price-badge pos-absolute pos-t pos-l mt-2 ml-2">£199.99</span>
            </div>
        </div>
        <!-- Product 3 -->
        <div class="card product-card overlay-hover">
            <!-- Hover content -->
            <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
                <h4 class="text-white">
                    Porsche 911 (2012)
                </h4>
                <a href="@Url.Action("Details", new { id = 6885 } )" class="btn btn-primary text-uppercase font-weight-bold mb-3"><i class="fa fa-car mr-2"></i> View Car</a>
            </div>
            <!-- Image & price content -->
            <div class="pos-relative">
                <img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVxf532X8VP8RTpjBRg-4Q1rLwARXICCZlHpx43qQ9U4FKVcR-" height="115" width="236" alt="Car image">
                <span class="badge badge-primary product-price-badge pos-absolute pos-t pos-l mt-2 ml-2">£199.99</span>
            </div>
        </div>
        <!-- Product 4 -->
        <div class="card product-card overlay-hover">
            <!-- Hover content -->
            <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
                <h4 class="text-white">
                    S-Class (2004)
                </h4>
                <a href="@Url.Action("Details", new { id = 4236 } )" class="btn btn-primary text-uppercase font-weight-bold mb-3"><i class="fa fa-car mr-2"></i> View Car</a>
            </div>
            <!-- Ribbon -->
            <div class="card-ribbon card-ribbon-top card-ribbon-right bg-primary text-white">Limited</div>
            <!-- Image & price content -->
            <div class="pos-relative">
                <img class="card-img-top img-fluid" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQP1WEzxT8ftz03fRwMRDsXb9C-koFjPDDLPpJildfEcT01FgHOBA" height="115" width="236" alt="Car image">
                <span class="badge badge-primary product-price-badge pos-absolute pos-t pos-l mt-2 ml-2">£199.99</span>
            </div>
        </div>
        <!-- Product 5 -->
        <div class="card product-card overlay-hover">
            <!-- Hover content -->
            <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
                <h4 class="text-white">
                    BMW 3-Series (2006)
                </h4>
                <a href="@Url.Action("Details", new { id = 4826 } )" class="btn btn-primary text-uppercase font-weight-bold mb-3"><i class="fa fa-car mr-2"></i> View Car</a>
            </div>
            <!-- Image & price content -->
            <div class="pos-relative">
                <img class="card-img-top img-fluid" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR1Pl27q9OYp4t5IKQd0EB3zw0lx1kKYjA-NnXWCSfy87DVnnIlWA" height="115" width="236" alt="Car image">
                <span class="badge badge-primary product-price-badge pos-absolute pos-t pos-l mt-2 ml-2">£199.99</span>
            </div>
        </div>
        <!-- Product 6 -->
        <div class="card product-card overlay-hover">
            <!-- Hover content -->
            <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
                <h4 class="text-white">
                    Chevy Corvette (2011)
                </h4>
                <a href="@Url.Action("Details", new { id = 6728 } )" class="btn btn-primary text-uppercase font-weight-bold mb-3"><i class="fa fa-car mr-2"></i> View Car</a>
            </div>
            <!-- Image & price content -->
            <div class="pos-relative">
                <img class="card-img-top img-fluid" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbIUDljxgmnHE5TLeft_1S5_EaH3MBX2s1f9URJ9RJsSDFWDRl_A" height="115" width="236" alt="Car image">
                <span class="badge badge-primary product-price-badge pos-absolute pos-t pos-l mt-2 ml-2">£199.99</span>
            </div>
        </div>
    </div>
</div>
